.box{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
}

.box-move{
    background-color: gray;
}

.box-position{
    position: absolute;
    left: 50px;
    top: 50px;
}